.bullets {
    background: url("../img/ellipses.jpg") no-repeat center 205px;
    padding: 2rem 0;
    position: relative;
    border-bottom: 1px solid #eee;
    .title_underline {
        &:after {
            width: 135%;
        }
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 50px 85px 0;
        position: relative;
    }
    &__item {
        display: block;
        vertical-align: top;
        font-weight: 100;
        margin-bottom: 1.5rem;
        margin-right: 30%;
        width: 320px;
        position: relative;
        opacity: 0;
        &:after {
            content: "";
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: $accent-color;
            display: block;
            position: absolute;
            right: -27px;
            top: 15px;
        }
        &-text {
            width: 230px;
            font-size: 15px;
            float: left;
            padding-top: 5px;
            line-height: 1.2;
        }
        &-num {
            float: right;
            font-size: 40px;
            padding: 0 8px;
        }


        &:nth-child(even) {
            margin-right: 0;
            &:after {
                display: none;
            }
            &:before {
                content: "";
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background: $accent-color;
                display: block;
                position: absolute;
                left: -14px;
                top: 15px;
            }
            .bullets__item {
                &-num {
                    float: left;
                }
                &-text {
                    float: right;
                    text-align: right;
                }
            }
        }
    }

    .lapa {
        background: url("../img/lapa.png") no-repeat center center;
        width: 135px;
        height: 125px;
        position: absolute;
        left: 50%;
        top:530px;
        transform: translateX(-40%);
        cursor: pointer;
    }

    .open-form {
        width: 490px;
        margin: 0 auto;
        &__title {
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            line-height: 1.4;
            padding-bottom: 2rem;
            background: #fff;
            padding-top: 10px;
            display: inline-block;
            .light {
                font-weight: 200;
            }
        }
        .lpc-form {
            .input-wrapper {
                width: 47%;
                float: left;
                .lpc-input {
                    height: 44px;
                }
            }
            .btn {
                width: 47%;
                height: 44px;
                float: right;
            }
        }
    }
}



@media #{$tablet} {
    .bullets {
        background: #fff;
        &__wrapper {
            padding: 3rem 0;
        }
        .lapa {
            margin-top: -100px;
        }
        .title_underline {
            display: inline-block;
            &:after {
                width: 100%;
            }
        }
        &__item {
        }
    }
}



@media #{$tablet-portrait} {
    .bullets {
        &__wrapper {
            width: 95%;
            margin: 0 auto;
        }
        &__item {
            margin-right: 0;
            &:after {
                display: none;
            }
            &:before {
                content: "";
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background: $accent-color;
                display: block;
                position: absolute;
                left: -14px;
                top: 15px;
            }
            .bullets__item {
                &-num {
                    float: left;
                }
                &-text {
                    float: right;
                    text-align: left;
                    font-weight: 400;
                }
            }
            &:nth-child(even) {
                .bullets__item {
                    &-text {
                        float: right;
                        text-align: left;
                    }
                }
            }
        }
        .lapa {
            display: none;
        }
    }
}



@media #{$mobile} {
    .bullets {
        background: #fff;
        overflow-x: hidden;
        .title {
            .color_accent {
                font-size: 24px;
            }
            &_underline:after {
                width: 100%;
            }
        }
        &__wrapper {
            display: block;
            padding: 1rem 0 0;
            width: 100% !important;
            margin-top: 2rem;
            .slick-slide {
                top: 0;
                left: 0 !important;
                position: absolute !important;
            }
        }
        &__item {
            display: block;
            margin: 0 0 15px;
            z-index: inherit;
            &-text {
                width: 70%;
                float: right;
                text-align: left !important;
            }
            &-num {
                width: 30%;
                float: left;
            }
            &:before, &:after {
                display: none !important;
            }
        }
        .lapa {
            display: none;
        }


        .open-form {
            width: 100%;
            &__title {
                font-size: 17px;
                br {display: none;}
                .light {
                    display: block;
                }
            }
            .lpc-form {
                .input-wrapper {width: 100%; float: none;}
                .btn { width: 100%; float: none; }
            }
        }

    }
}

@media #{$laptopPC} {
    .bullets {
        &__wrapper {
            width: 1318px;
            left: 50%;
            transform: translateX(-50%);
        }
        &__item {
            &-text {
                font-weight: 400;
            }
            &:nth-child(even) {
                margin-right: -2px;
            }
        }
        .open-form__title {
            margin: 0 auto;
            display: table;
            .light {
                font-weight: 400;
            }
        }
    }
}

@media #{$wide} {
    .bullets {
        background-position: center 250px;
        .title {
            font-size: 52px;
            &_underline {
                &:after {
                    width: 132%;
                }
            }
        }
        &__wrapper {
            width: 1320px;
            margin: -8px auto;
        }
        &__item {
            &-text {
                font-weight: 400;
            }
            &:nth-child(even) {
                margin-right: -2px;
            }
        }
        .lapa {
            margin-top: 60px;
        }
    }
}


@media #{$wideHD} {
    .bullets {
        background: url("../img/circles.png") no-repeat center 332px;
        //padding-bottom: 0;
        .title {
            font-size: 72px;
        }
        .title_underline:after {
            width: 1070px;
        }
        .lapa {
            margin-top: 230px;
            transform: translateX(-50%);
        }


        &__wrapper {
            width: 1610px;
            margin: 0 auto;
            padding-top: 55px;
        }
        &__item {
            width: 390px;
            margin-bottom: 45px;
            &-text {
                font-size: 16px;
                font-weight: 400;
                color: #1F2935;
            }
            &-num {
                font-size: 52px;
                font-weight: 300;
            }
            &:nth-child(even) {
                margin-right: -5px;
            }
        }

        .open-form__title {
            margin: 0 auto;
            display: table;
        }
    }

}


@media only screen and (min-width: 1025px) and (max-width: 1281px) {
    .bullets {
        .container {
            position: relative;
        }
        .title_underline {
            &:after {
                max-width: 620px;
            }
        }
        &__wrapper {
            width: 1320px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}