.cases {
    //background: url("../img/bg_2.jpg") no-repeat center bottom;
    padding: 6.5rem 0 0;
    position: relative;
    overflow: hidden;
    &:before {
        content: "";
        display: block;
        position: absolute;
        left:0;
        top:0;
        width: 50%;
        height: 100%;
        background: #f2f3f4;
        z-index: -1;
    }

    .ripples {
        width: 50vw;
        height: 100%;
        overflow: hidden;
        position: absolute;
        //border: 2px solid red;
        bottom: 0;
        right: 0;
        .ripple-item {
            border: 2px solid #f2f3f4;
            display: block;
            border-radius: 50%;
            position: absolute;
            left:0;
            top:91.20%;
            transform: translate(-50%, -50%);
        }
    }


    &__wrapper {
        position: relative;
        padding-top: 6rem;
        display: table;
        margin: 0 auto;
    }
    &__item {
        width: 250px;
        height: 250px;
        overflow: hidden;
        position: relative;
        margin: -0.15rem 0;
        display: inline-block;
        perspective: 300px;
        opacity: 0;
        &-cover {
            width: 100%;
            height: 100%;
            position: absolute;
            left:0;
            top:0;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-overflow {
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.6);
            color: #fff;
            padding: 1rem;
            font-weight: 400;
            opacity: 0;
            line-height: 1.4;
            transition: all 330ms ease-in-out;
            & > span {
                display: block;
                margin-bottom: 25px;
                font-size: 21px;
            }
            .view-btn {
                margin: 0 auto;
                display: block;
                padding: 40%;
                //border: 1px solid red;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
        // Hover
        &:hover {
            .cases__item-overflow {
                opacity: 1;
            }
        }
    }
    .down-btn {
        display: block;
        width: 23px;
        opacity: 0.6;
        transition: all 300ms;
        position: absolute;
        left:50%;
        margin-left: -12px;
        bottom: 68px;
        svg {
            width: 100%;
        }
        &:hover {
            transform: scale(1.2);
        }
    }
}
.backdropfilter {
    .cases__item-overflow {
        -webkit-backdrop-filter: blur(4px) grayscale(100%);
    }
}



@media #{$mobile} {
    .cases {
        background: #fff;
        padding-top: 5rem;
        overflow: hidden;
        .subtitle {
            br {display: none;}
        }
        &__wrapper {
            padding-top: 2rem;
            display: block;
            width: 100%;
            height: 300px;
        }
        &__item {
            margin: 0 15px;
            position: relative;
            transform: none !important;
            &-overflow {
                transform: translateX(0);
                opacity: 1;
            }
        }
        .down-btn {display: none;}
    }
}
@media #{$tablet} {
    .cases {
        &__item {
            width: 178px;
            height: 178px;
            &:nth-child(5) {
                transform: translateY(-7rem);
            }
            &:nth-child(6){
                $x-offset: 3*178px;
                $y-offset: -12rem;
                transform: translate($x-offset, $y-offset);
            }
            &-overflow {
                span {
                    font-size: 16px;
                }
            }
        }

        .ripples {
            .ripple-item {
                top: 89.6%;
            }
        }
    }
}

@media #{$tablet-portrait} {
    .cases {
        .ripples {
            .ripple-item {
                top: 88.4%;
            }
        }
    }
}


@media #{$laptopPC} {
    .cases {
        min-height: auto;
        height: 120vh;
        .ripples {
            .ripple-item {
                top: 89.3%;
            }
        }
    }
}


@media #{$wide} {
    .cases {
        .title {
            font-size: 58px;
            margin-top: 0px;
        }
        .subtitle {
            font-size: 18px;
            font-weight: 400;
        }
        .ripples {
            .ripple-item {
                top:92%;
            }
        }
    }
}


@media #{$wideHD} {
    .cases {
        background-size: cover;
        min-height: 90vh;
        padding-top: 4rem;
        &__item {
            &-overflow {
                .view-btn {
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%,-50%);
                }
            }
        }
        &__wrapper {
            width: 100%;
            transform: translateY(370px);
        }
        .title {
            font-size: 84px;
            line-height: 1;
        }
        .subtitle {
            font-size: 26px;
            font-weight: 200;
            margin-bottom: -7rem;
        }
        .ripples {
            .ripple-item {
                top:93.5%;
            }
        }
    }
}