.custom-order {
    background: url('../img/bg_5.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding: 8rem 0;
    .title {
        font-size: 40px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        padding-bottom:0;
        margin-bottom: 15px;
    }
    .subtitle {
        color: #fff;
        font-size: 24px;
        margin: 0 0 15px;
    }
    .descript {
        font-size: 18px;
        margin: 0 0 30px;
        line-height: 1.5;
    }
    &__form {
        max-width: 680px;
        margin: 0 auto;
        .input-wrapper {
            width:45%;
            float: left;
            input {
                height: 44px;
                background: transparent;
                border-color: #aaa;
                color: #fff;
            }
        }
        .btn {
            width: 45%;
            height: 44px;
        }
        .lpc-form__small-text {
            display: none;
        }
        .lpc-policy {
            width: 70%;
            margin: 0 auto;
            text-align: left;
        }
    }
}



@media #{$mobile} {
    .custom-order {
        padding: 2rem 0;
        .title {
            font-size: 30px;
            line-height: 1.3;
        }
        .subtitle {
            font-size: 19px;
            line-height: 1.2;
        }
        .descript {
            line-height: 1.3;
        }

        .lpc-form {
            .input-wrapper {
                float: none;
                width: 100%;
                margin-bottom: 20px;
            }
            .btn {
                float: none;
                width: 100%;
            }
            .lpc-policy {
                width: 100%;
                padding-top: 30px;
            }
        }
    }
}


@media #{$tablet} {
    .custom-order {
        background: url('../img/bg_5.jpg') no-repeat center center;
        background-size: cover;
    }
}

@media #{$wide} {
    .custom-order {
        background-image: url("../img/bg_5_wide.png");
        .title {
            font-size: 68px;
        }
        .subtitle {
            color: #fff;
            font-size: 28px;
            font-weight: 500;
        }
        .descript {
            font-size: 22px;
            font-weight: 500;
        }
    }
}


@media #{$wideHD} {
    .custom-order {
        background-image: url("../img/bg_5_wide.png");
        .title {
            font-size: 72px;
        }
        .subtitle {
            color: #fff;
            font-size: 32px;
            font-weight: 500;
        }
        .descript {
            font-size: 24px;
            font-weight: 500;
        }
    }
}