.home {
    background: url("../img/bg_1.jpg") no-repeat fixed center top;
    background-size: cover;
    color: #fff;
    min-height: 100vh;
    padding: 0;
    &__wrapper {
        position: absolute;
        display: table;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        margin-top: 40px;
    }
    .title {
        position: relative;
        font-weight: 500;
        background: url("../img/top_title/1024.svg") no-repeat center;
        width: 290px;
        height: 225px;
        color: transparent;
        //border: 1px solid red;
    }
    .subtitle {
        color: #fff;
    }
    .btn {
        margin: 3rem auto 3rem;
        padding: 1rem 1.8rem;
        font-size: 16px;
        display: table;
    }
    .down-btn {
        opacity: 0;
        width: 30px;
        display: block;
        margin: 0 auto;
        transition: all 300ms;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        svg {
            width: 100%;
            .cls-1 {
                stroke: #fff;
            }
        }
        &:hover {
            transform: scale(1.2);
        }
    }
}


@media #{$mobile} {
    .home {
        background: url("../img/mobile/bg_1_mobi.jpg") no-repeat center top;
        background-size: cover;
        padding-top: 8rem;
        &__wrapper {
            width: 80%;
            margin: 0 auto;
        }
        .title {
            position: relative;
            font-weight: 500;
            background: url("../img/top_title/1920.svg") no-repeat center;
            width: 90%;
            //height: 200px;
            color: transparent;
        }
        .subtitle {
            font-size: 16px;
            text-shadow: 0 1px 3px rgba(0,0,0,1);
        }
    }
}
@media #{$tablet} {
    .home {
        background: url("../img/bg_1.jpg") no-repeat center top;
        background-size: cover;
    }
}

@media #{$tablet-portrait} {
    .home {
        background: url("../img/bg_1_tablet.jpg") no-repeat left top;
        background-size: cover;
    }
}


@media #{$wide} {
    .home {
        .title {
            position: relative;
            font-weight: 500;
            background: url("../img/top_title/1920.svg") no-repeat center;
            width: 414px;
            height: 329px;
            color: transparent;
        }
        .subtitle {
            width: 450px;
            font-size: 18px;
            br {
                display: none;
            }
        }
    }
}


@media #{$wideHD} {
    .home {
        .title {
            position: relative;
            font-weight: 500;
            background: url("../img/top_title/2056.svg") no-repeat center;
            width: (685px);
            height: (533px);
            color: transparent;
            &_underline:after {
                height: 9px;
                background: #fff;
                box-shadow: none;
            }
        }
        .subtitle {
            width: 685px;
            font-size: 22px;
            font-weight: 500;
            color: #fff;
            br {
                display: none;
            }
        }
        .btn {
            font-size: 20px;
            font-weight: 300;
            padding: 25px 50px;
        }
        .down-btn {
        }
    }
}