.tarifs {
    min-height: 95vh;
    &__wrapper {
        text-align: center;
        padding-top: 2rem;
    }
    &__hidden-nav {
        display: none;
    }
}





.tarif-item {
    width: 335px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    margin-right: 2rem;
    padding-bottom: 2rem;
    &__cover {
        background: url('../img/tarif_1.jpg') no-repeat center;
        background-size: cover;
        min-height: 255px;
        color: #fff;
        padding: 1rem;
        position: relative;
    }
    &__title {
        font-size: 24px;
        font-weight: bold;
        text-shadow: 0 0 3px rgba(0,0,0,1);
        > span {
            font-weight: 500;
        }
    }
    &__link {
        color: $accent-color;
        text-decoration: none;
        display: inline-block;
        margin-top: 10px;
        cursor: pointer;
        transition: all 230ms ease-in;
        &:hover {
            transform: scale(1.1);
        }
    }
    &__price {
        font-size: 24px;
        position: absolute;
        bottom: 1rem;
        font-weight: 500;
        right: 1rem;
        text-shadow: 0 0 3px rgba(0,0,0,1);
    }
    &__descript {
        font-size: 14px;
        text-align: left;
        line-height: 1.4;
        font-weight: 200;
        min-height: 200px;
    }
    &__footer {
        text-align: center;
        .btn {
            width: 90%;
            margin: 0 auto;
            padding: 1rem;
            font-size: 16px;
            background: #344356;
            &:hover {
                background: lighten(#344356, 10%);
            }
        }
    }
    &:nth-child(2) {
        .tarif-item__cover {
            background-image: url("../img/tarif_2.jpg");
            text-align: center;
        }
        .tarif-item__price {
            display: block;
            text-align: center;
            width: 100%;
            right: 0;
        }
        .btn {
            background: $accent-color;
            &:hover {
                background: lighten($accent-color, 10%);
            }
        }
    }
    &:last-child {
        .tarif-item__cover {
            background-image: url("../img/tarif_3.jpg");
            text-align: left;
        }
        .tarif-item__price {
            left: 1rem;
        }
    }
}




.tarif-wrapper_modal {
    max-width: 60vw;
    .title {
        font-weight: 500;
    }
    .price {
        padding-top: 1rem;
        b {
            font-size: 36px;
            font-weight: 400;
        }
    }
}


// ----------  MEDIA QUERIES --------



@media #{$mobile} {
    .tarifs {
        padding-bottom: 2rem;
        overflow-x: hidden;
        min-height: auto;
        .title {
            font-size: 25px;
        }
        &__wrapper {
            width: 300px;
            margin: 0 auto;
            //padding: 0 20px;
        }
        &__hidden-nav {
            display: flex;
            justify-content: space-between;
            .btn {
                width: 47%;
                padding: 0.5rem 0;
                font-size: 15px;
                &_outline {
                    border: 1px solid;
                }
            }
        }
    }
    .tarif-item {
        width: 300px !important;
        margin: 0;
        padding: 0 10px 20px 10px;
        text-align: center;
        &__cover {
            padding: 3rem 1rem;
            //text-align: center;
        }
        &__descript {
            display: none;
        }
        &__footer {
            display: none;
        }
        &.t1 {
            .tarif-item__cover {
                background-image: url("../img/mobile/tarif_3_mobi.jpg");
            }
            .tarif-item__price {
                text-align: right;
                right: 0;
            }
        }
        &.t2 {
            .tarif-item__cover {
                background-image: url("../img/mobile/tarif_2_mobi.jpg");
            }
        }
        &.t3 {
            .tarif-item__cover {
                background-image: url("../img/mobile/tarif_1_mobi.jpg");
            }
            .tarif-item__price {
                text-align: right;
                right: 0;
            }
        }
    }
    .tarif-wrapper_modal {
        max-width: 95vw;
    }
}



@media #{$tablet} {
    .tarifs {
        &__wrapper {
            display: flex;
        }
    }
    .tarif-item {
        width: 323px;
        &__cover {
            min-height: 233px;
        }
        &__descript {
            font-weight: 400;
        }
    }
}


@media #{$tablet-portrait} {
    .tarif-item {
        &__cover {
            min-height: 190px;
        }
        &__descript {
            min-height: 350px;
        }
    }
}


@media #{$laptopPC} {
    .tarif-item {
        &__descript {
            font-weight: 400;
        }
    }
}


@media #{$wide} {
    .tarifs {
        &__wrapper {
            display: flex;
        }
    }
    .tarif-item {
        width: 470px;
        &__title {
            font-size: 34px;
        }
        &__cover {
            min-height: 330px;
        }
        &__descript {
            font-weight: 400;
            min-height: 230px;
            font-size: 16px;
            line-height: 1.6;
        }
        &__price {
            font-size: 34px;
        }
    }
}

@media #{$wideHD} {
    .tarifs {
        padding-bottom: 3rem;
        min-height: 95vh;
    }
    .tarif-item {
        width: 590px;
        &__cover {
            height: 425px;
        }
        &__descript {
            min-height: 240px;
            font-size: 16px;
            font-weight: 400;
            color: #1F2935;
            line-height: 1.6;
            padding-top: 10px;
            width: 90%;
            margin: 0 auto;
            //text-align: justify;
        }
        &__footer {
            width: 60%;
            margin: 40px auto 0;
        }
        &__title {
            font-size: 42px;
        }
        &__link {
            font-size: 18px;
        }
        &__price {
            font-size: 42px;
            font-weight: 500;
        }
    }
}