

* {
    box-sizing: border-box;
    outline: none 0;
    html .clearfix {
        zoom: 1; /* IE6 */
    }
    &:first-child+html .clearfix {
        zoom: 1; /* IE7 */
    }
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}