include ../../node_modules/bemto.pug/bemto.pug


- var phone = "8 800 123-45-67";
- var tel = "88001234567";
- var email = "LAPA@inbox.ru";



doctype html
head
    meta(charset='UTF-8')
    title LaPa | Marketing Agency
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    //link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.1/jquery.fancybox.min.css')

    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel="shortcut icon" href="favicon.ico")

    script(src="js/sourcebuster.min.js")
    script.
        sbjs.init({
            domain: {
                host: 'localhost',
                isolate: true
            }
        })

body
    .height-helper
        +b.home
            .container
                +e.wrapper
                    H2.title.title_underline
                    h3.subtitle  Оставьте заявку на получение <br>
                        |  Landing Page с конверсией 37% <br>
                        |  и наш эксперт свяжется с вами
                    button.btn.showModal Получить Landing Page
                A.down-btn#down-btn-1(href="") <svg viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linejoin:round;stroke-width:2px;}</style></defs><title/><g data-name="3-Arrow down" id="_3-Arrow_down"><circle class="cls-1" cx="16" cy="16" r="15"/><polyline class="cls-1" points="23 13 16 20 9 13"/></g></svg>


        +b.cases
            .ripples
            +b.HEADER.header
                .container
                    +b.A.logo(href="./")
                        +e.IMG.img(src="img/logo.svg")
                        +e.slogan Комплексная разработка продающих сайтов <br>
                            |  Реклама в Я.Директ, Google AdWords, <br>
                            |  SEO, SMM, E-mail  маркетинг

                        .clearfix
                    +e.contacts
                        +e.A.phone(href="tel:88001234567") 8 800 <b>123-45-67</b>
                        button.btn.btn_outline.showModal  Заказать звонок
            .container
                h2.title.title_underline Наши <br> результаты
                h3.subtitle Один интересный факт:
                    b.color_accent  самый плохой <br>
                    |  результат нашей работы - <br> Landing&nbsp;Page
                    b.color_accent  с конверсией 21%

                +e.wrapper
                    +e.item
                        +e.item-cover
                            img(src="img/case1.jpg")
                        +e.item-overflow
                            span Epok Design <br> LES PROJECT
                            button.view-btn(onclick="javascript:;" data-fancybox data-type="ajax" data-src="modals/case_1.html")

                    +e.item
                        +e.item-cover
                            img(src="img/case2.jpg")
                        +e.item-overflow
                            span Epok Design <br> LES PROJECT
                            button.view-btn(data-fancybox data-type="ajax" data-src="modals/case_1.html")
                    +e.item
                        +e.item-cover
                            img(src="img/case3.jpg")
                        +e.item-overflow
                            span Epok Design <br> LES PROJECT
                            button.view-btn(data-fancybox data-type="ajax" data-src="modals/case_1.html")
                    +e.item
                        +e.item-cover
                            img(src="img/case4.jpg")
                        +e.item-overflow
                            span Epok Design <br> LES PROJECT
                            button.view-btn(data-fancybox data-type="ajax" data-src="modals/case_1.html")
                    +e.item
                        +e.item-cover
                            img(src="img/case5.jpg")
                        +e.item-overflow
                            span Epok Design <br> LES PROJECT
                            button.view-btn(data-fancybox data-type="ajax" data-src="modals/case_1.html")
                    +e.item
                        +e.item-cover
                            img(src="img/case6.jpg")
                        +e.item-overflow
                            span Epok Design <br> LES PROJECT
                            button.view-btn(data-fancybox data-type="ajax" data-src="modals/case_1.html")

                A.down-btn#down-btn-2(href="") <svg viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linejoin:round;stroke-width:2px;}</style></defs><title/><g data-name="3-Arrow down" id="_3-Arrow_down"><circle class="cls-1" cx="16" cy="16" r="15"/><polyline class="cls-1" points="23 13 16 20 9 13"/></g></svg>




    +b.bullets
        .container
            H2.title.title_underline 10
                span.light  отличий <br>
                span.color_accent  высокоэффективного <br>
                |  Landing Page
            H3.subtitle  или что вы получите, работая с нами:

            +e.wrapper
                +e.item
                    +e.item-text  Профессиональный анализ ниши и конкурентов
                    +e.item-num 01.
                +e.item
                    +e.item-text  Определение целевой аудитории, ее анализ и выявление потребностей
                    +e.item-num 02.
                +e.item
                    +e.item-text  Создание уникального торгового предложения (УТП)
                    +e.item-num 03.
                +e.item
                    +e.item-text  Комплексное A/B тестирование и системная аналитика
                    +e.item-num 04.
                +e.item
                    +e.item-text  Мультилендинг и геотаргетинг
                    +e.item-num 05.
                +e.item
                    +e.item-text  Внедрение динамических заголовков и реферальных хвостов
                    +e.item-num 06.
                +e.item
                    +e.item-text  Настройка Яндекс метрики и вебвизора, а также Google&nbsp;Analytics
                    +e.item-num 07.
                +e.item
                    +e.item-text  Профессиональный <br>хостинг и домен, <br>интеграция сайта с CRM
                    +e.item-num 08.
                +e.item
                    +e.item-text  Адаптивная и кросбраузерная верстка под все виды устройств
                    +e.item-num 09.
                +e.item
                    +e.item-text  Мощная настройка контекстной рекламы в Yandex Direct и Google&nbsp;Adwords
                    +e.item-num 10.

            +b.lapa#down-btn-3

            +b.open-form
                +e.title Оставьте заявку на получение <br>
                    span.color_accent  продающего Landing Page с конверсией 37% <br>
                    span.light  и наш эксперт свяжется с вами
                include blocks/lpc-form-mini.pug





    +b.tarifs
        .container
            h2.title.title_underline
                span.light  Вывести ваш
                |  Бизнес <br>
                sspan.color_accent  на высокий уровень
            h3.subtitle  это наш Бизнес

            +e.wrapper
                +b.tarif-item.t1
                    +e.cover
                        +e.title  <span>Landing Page</span> <br>“Старт”
                        +e.A.link(data-fancybox data-type="ajax" data-src="modals/tarif_1.html")  Подробнее
                        +e.price  от 50 000 р.
                    +e.descript
                        p Данный тариф предполагает разработку сайта "под ключ", включающую эксклюзивный дизайн, адаптивную верстку (сайт будет шикарно работать и на ПК и на телефоне), маркетинговое исследование нищи и конкурентов, установку счетчиков аналитики, проведение А/Б тестирования, а так же внутренняя SEO оптимизация сайта.
                    +e.footer
                        button.btn.showModal  Заказать
                +b.tarif-item.t2
                    +e.cover
                        +e.title  <span>Landing Page</span> <br>“Бизнес”
                        +e.A.link(data-fancybox data-type="ajax" data-src="modals/tarif_2.html")  Подробнее
                        +e.price  от 80 000 р.
                    +e.descript
                        p Данный тариф включает в себя все возможности тарифа "Старт" и так же содержит: усиленную маркетинговую компоновку элементов сайта, использование технологии динамической подмены заголовков, внедрение детальной системы аналитики (воронки продаж и т.д.), создание админпанели для управления и редактирования сайта заказчиком, а также настройку рекламы в Яндекс.Директ (Поиск).
                    +e.footer
                        button.btn.showModal  Заказать
                +b.tarif-item.t3
                    +e.cover
                        +e.title  <span>Landing Page</span> <br>“VIP”
                        +e.A.link(data-fancybox data-type="ajax" data-src="modals/tarif_3.html")  Подробнее
                        +e.price  от 150 000 р.
                    +e.descript
                        p Данный тариф включает в себя все возможности тарифа "Бизнес" и так же содержит: настройку таргетированной рекламы, создание и продвижение аккаунта в соц.сети Instagram(1 месяц), полное SEO продвижение сайта в течении 3 месяцев, настройку Яндекс.Директ на тематических площадках (РСЯ). Также, на данном тарифе действует консультационная поддержка специалистов.
                    +e.footer
                        button.btn.showModal  Заказать

            +e.hidden-nav
                button.btn.showModal  Заказать
                button.btn.btn_outline  Еще тарифов



    +b.custom-order
        .container
            h2.title  Нет подходящего варианта?
            h3.subtitle  Получите наше коммерческое предложение исключительно под ваш бизнес
            h4.descript  Отправьте заявку и мы свяжемся с вами через 15 минут
            +e.form
                include blocks/lpc-form-mini.pug




    +b.FOOTER.footer
        .container
            +e.left
                h2.title.title_underline  Почему вам нужен лендинг от LaPa.bz?
                +b.faq
                    +e.P.intro  Вы являетесь частным предпринимателем? Хотите открыть свое дело и не знаете, с чего начать? Ваш товар или услуги уникальны?  Вам необходим лендинг, способный создать положительную репутацию, ознакомить потенциальных клиентов с возможностями компании и особенностями предложения компании.  Создание лендинг пейдж стало актуальным совсем недавно, и эта технология продвижения не просто зарекомендовала себя, а дала понять, насколько подобный вариант может быть практичнее и выгоднее, чем привычные полноценные сайты, сообщества в социальных сетях и другие ресурсы, которые пользователи нередко обходят стороной, не желая тратить время на их изучение.
                        |  Разработка Landing page предполагает полный цикл мероприятий по созданию продающей страницы в интернете, представляющей ваш бренд, его характеристики и описание, а также позволяющей сделать приобретение всего за пару кликов мышкой. Лаконичность, практичность и корректное преподнесение информации – вот почему  стоит заказать лендинг пейдж. Он поднимет  лояльность со стороны целевой аудитории, позволит привлечь новых клиентов и укрепит связь с уже имеющимися заказчиками, позволит  создать привлекательный имидж для вашего продукта и в короткие сроки сделает его популярным. Использование такого ресурса помогает интересно преподнести  публике малоизвестный товар, требующий доверия и интереса, а также описывает преимущества уже известного предмета, который уже известен по предложениям ваших конкурентов, но, по тем или иным причинам еще не приобретен человеком, просматривающим страницу.
                        |  Хотите заказать landing page недорого? Команда профессионалов Lapa.bz к вашим услугам! Мы сформируем интересные решения и создадим уникальный проект, аналогов которому вы не найдете в своей нише и в сторонних сферах, разработаем интересные вариации продвижения продукта и  преподнесения информации о нем, а также поможем увеличить число заказов, а значит, и прибыль.

                    +e.item
                        +e.item-title  Что такое лендинг пейдж и для чего он нужен?
                        +e.item-content
                            p Это понятие сформировалось относительно недавно  и предполагает описание так называемых посадочных страниц, одностраничников, позволяющих повысить объем продаж, когда привычные интернет-магазины и сайты не приносят  былых результатов.  В качестве маркетингового инструмента посадочная страница, купить которую можно в различных рекламных агентствах, является отличной альтернативой, способной оставить конкуренцию  он-лайн магазинам и компаниям, специализирующимся на продажах в глобальной сети.
                            p Актуальность такого решения особенно высока для:
                                ul
                                    li Продавцов различных товаров и услуг;
                                    li Оптовых поставщиков;
                                    li Предпринимателей информационного характера;
                                    li Компаний, специализирующихся на реализации уникальной продукции;
                                    li Туристических агентств;
                                    li Спортивных залов и фитнес-центров;
                                    li Салонов красоты и спа;
                                    li Коучеров, обладающих обучающими программами.
                            p Создать сайт одностраничник следует всем, кто заинтересован в привлечении целевой аудитории, увеличении числа клиентов и заказов. Попадая на портал, ваш потенциальный покупатель сможет оставить заявку на бесплатную консультацию и осуществление предварительных расчетов будущего заказа, подписаться на информационную рассылку, поучаствовать в акции, уточнить  стоимости и сделать массу обоюдовыгодных действий.  Людям любопытен интерактив, быстрая реакция подрядчика, возможность приобрести необходимое, сэкономив время на поиске нужного товара и  лендинг удовлетворяет этим потребностям.

                    +e.item
                        +e.item-title  Почему выгодно заказать лендинг?
                        +e.item-content
                            p Использование подобного инструмента при минимальных затратах способно продемонстрировать неожиданно качественные результаты. Сайт такого формата мотивирует к быстрому приобретению, их легко конструировать и создание оказывается быстрым и экономичным. Корректировки и исправления возможны как в ходе создания, так и после публикации. Заказать лендинг под ключ  - значит ускорить реализацию товара, предоставить потенциальным клиентам максимум необходимой информации  в лаконичной и доступной форме и предложить актуальное программное обеспечение.
                            p  Как этот способ продвижения способен увеличить объем продаж? Рассмотрим этот нюанс на примере воронки продаж.  Вы решили заказать лендинг пейдж недорого и  получили готовый продукт. Его функционирование будет происходить следующим образом:
                    +e.item
                        +e.item-title  В каких случаях необходима посадочная страница?
                        +e.item-content
                    +e.item
                        +e.item-title  Сделать сайт-одностраничник самому или заказать его в профильной компании?
                        +e.item-content
                    +e.item
                        +e.item-title  Почему стоит купить лендинг в Lapa.bz?
                        +e.item-content

            +e.right
                h2.title.title_underline  Создай свой<br> бизнес с LaPa
                .intro
                    p Таким образом новая модель организационной деятельности требуют от нас анализа существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач ....

                .copy__wrapper
                    +b.contacts
                        +e.title Контакты:
                        +e.A.item(href="mailto:" + email) #{email}
                        +e.A.item(href="tel:" + tel) #{phone}
                    +b.copy
                        a.logo(href="./")
                            img.logo__img(src="img/logo_footer.svg")
                        +e.text  ИП Волков Александр Юрьевич <br>ИНН 622693325010 <br>ОГРНИП 317623400046442
                        +e.text Copyright © 2018
            .clearfix





    // ------ MODAL FORM ---------
    .popup#popup_form(style="display:none;")
        +e.H3.title Оставьте свои контакты
        +e.B.subtitle и наш эксперт свяжется с вами
        include blocks/lpc-form.pug



    //- --------  TY POPUP ----------
    .popup.popup_ty#ty_popup(style="display:none;")
        +e.H3.title.title_underline Спасибо! <br>Ваша заявка принята.
        +e.B.subtitle В течении 48 часов мы свяжемся с вами и наш менеджер с вами поговорит


    //- -------- EXIT POPUP -----------
    +b.popup#exit_popup(style="display:none;")
        +e.H3.title Не спешите уходить!



    // --------  INCLUDE SCRIPTS  ---------

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TimelineMax.min.js')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.12/jquery.mask.min.js')
    //script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.1/jquery.fancybox.min.js')
    script(src='js/jquery.fancybox.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js')
    script(src='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
    script(src="js/jquery.validate.js")
    script(src="js/modernizr-custom.js")
    script(src='js/ouibounce.min.js')
    script(src="js/main.js")