.btn {
    font-family: $base-font;
    background: $accent-color;
    border: none;
    padding: 0.5rem 1.2rem;
    cursor: pointer;
    transition: all 230ms ease-in;
    color: #fff;
    font-weight: 100;
    font-size: 14px;
    border-radius: 5px;
    &:hover {
        background: lighten($accent-color, 10%);
    }

    &_block {
        width: 100%;
    }
    &_outline {
        background: transparent;
        color: #000;
        border: 2px solid #000;
        padding: 0.7rem 2rem;
        font-size: 16px;
        font-weight: 400;
        &:hover {
            background: transparent;
            color: $accent-color;
            border-color: $accent-color;
        }
    }
}



.view-btn {
    width: 53px;
    height: 30px;
    background: url("../img/eye.png") no-repeat center;
    border: none;
    cursor: pointer;
}