

.header {
    padding: 0.6rem 0;
    width: 100%;
    background: #fff;
    transition: all 300ms ease-in-out;
    z-index: 10;
    border-bottom: 2px solid #e5e8ea;
    position: absolute;
    top:0;
    .container {
        width: 92%;
    }
    &__contacts {
        float: right;
        text-align: right;
        .btn {
            float: right;
        }
    }
    &__phone {
        font-size: 1.3rem;
        float: left;
        margin-right: 15px;
        padding-top: 11px;
        color: inherit;
        text-decoration: none;
    }
    &_visible {
        position: fixed;
        left:0;
        top:0;
    }
}


.backdropfilter {
    .header {
        background: rgba(255,255,255,0.8);
        -webkit-backdrop-filter: contrast(5) blur(12px);
    }
}


@media #{$mobile} {
    .header {
        width: 100%;
        z-index: 1000;
        padding: 0.4rem 0;
        .container {
            width: 100%;
        }
        &__contacts {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 0;
            .btn {
                width: 50%;
                font-size: 14px;
                padding: 7px 0;
            }

        }
        &__phone {
            width: 50%;
            font-size: 15px;
            padding: 0;
            text-align: left;
            color: #000;
            text-decoration: none;
        }
    }
}
@media #{$tablet} {
}

@media #{$tablet-portrait} {
}

