.lpc-input {
    width: 100%;
    font-size: 10pt;
    font-weight: 100;
    padding: 0.4rem 0.6rem;
    border: 2px solid #ddd;
    text-align: center;

    &_styled {
        padding: 0.8rem;
        border: 2px solid #ddd;
        transition: all 230ms ease-in;
        &:focus {
            border-color: #aaa;
        }
    }
}

