
.logo {
    display: inline-block;
    text-decoration: none;
    &__img {
        float: left;
        margin-right: 50px;
        padding-top: 5px;
        width: 180px;
    }
    &__slogan {
        display: table;
        font-size: 14px;
        font-weight: 400;
        color: #0c1117;
        line-height: 1.2;
        margin-bottom: -10px;
    }
}

@media #{$mobile} {
    .logo {
        &__img {
            width: 130px;
        }
        &__slogan {
            display: none;
        }
    }
}


@media #{$tablet} {
    .logo {
        &__img {
            width: 150px;
            margin-top: 3px;
            margin-right: 30px;
        }
        &__slogan {
            font-size: 13px;
        }
    }
}

@media #{$tablet-portrait} {
    .logo {
        &__slogan {
            display: none;
        }
    }
}

@media #{$wideHD} {
    .logo {
        &__slogan {
            font-size: 13px;
            font-weight: 400;
        }
    }
}