.modal_case {
    max-width: 90vw;
    height: 90vh;
    position: relative;
    overflow: hidden;
    padding: 0;
    &__container {
        position: relative;
        width: 80%;
        height: 100%;
        overflow-y: scroll;
        display: inline-block;
        & > img {
            width: 100%;
        }
    }
    &__values {
        width: 20%;
        min-height: 100%;
        background: #99A;
        position: absolute;
        right: 0;
        top:0;
        padding: 5rem 1rem 5rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__measure {
        display: block;
        margin-bottom: 5rem;
        &:last-child {
            margin-bottom: 0;
        }
        .measure_name {
            color: #fff;
            font-weight: 100;
            text-transform: uppercase;
        }
        .measure_value {
            font-size: 42px;
            font-weight: bold;
            color: #fff;
        }
    }
}



@media #{$mobile} {
    .modal_case {
        width: 95vw;
        height: 80vh;
        &__container {
            width: 100%;
            margin-top: 100px;
        }
        &__values {
            width: 100%;
            padding: 30px 10px 10px;
            height: 100px;
            min-height: inherit;
            flex-direction: row;
            //align-items: center;
        }
        &__measure {
            display: inline-block;
            width: 40%;
            margin: 0 10px;
            .measure_name {
                font-size: 13px;
            }
            .measure_value {
                font-size: 23px;
            }
        }
    }
}

@media #{$tablet-portrait} {
    .modal_case {
        width: 95vw;
        height: 80vh;
        &__container {
            width: 100%;
            margin-top: 100px;
        }
        &__values {
            width: 100%;
            padding: 20px 10px;
            height: 100px;
            min-height: inherit;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
        &__measure {
            display: inline-block;
            //width: 40%;
            margin: 0 10px;
            .measure_name {
                font-size: 16px;
            }
            .measure_value {
                font-size: 26px;
            }
        }
    }
}

@media #{$wideHD} {
    .modal_case {
        &__values {
        }
        .measure_name {
            font-size: 18px;
        }
        .measure_value {
            line-height: 1;
            font-size: 62px;
        }
    }
}