.popup {
    max-width: 550px;
    border-radius: 15px;
    padding: 3rem 3rem;
    .title {
        font-size: 32px;
        margin: 0;
        display: block;
        text-align: center;
    }
    .subtitle {
        font-size: 21px;
        font-weight: normal;
        display: block;
        padding-bottom: 1rem;
        text-align: center;
    }
    .lpc-form {
        .lpc-input {
            padding: 0.8rem 1rem;
            text-align: left;
        }
        .btn {
            padding: 0.8rem 1rem;
        }
    }
    &_ty {
        .title {
            margin-bottom: 2rem;
            text-align: left;
            display: inline-block;
        }
        .subtitle {
            text-align: left;
        }
    }
}



@media #{$mobile} {
    .popup {
        width: 95%;
        padding: 1rem;
        .title {
            font-size: 22px;
            margin-bottom: 5px;
        }
        .subtitle {
            font-size: 16px;
        }
    }
}