@import "../../node_modules/normalize.css/normalize.css";
@import "global/helpers";
@import "font";
@import "jquery.fancybox.min.css";



// ------- BASE VARS --------

$base-font: "Gotham Pro", Helvetica, Arial, sans-serif;
$base-color: #000;
$second-color: #ccc;
$accent-color: #1b7aca;
$btn-color: #ccc;


$mobile: 'only screen and (max-width: 736px)';
$tablet: 'only screen and (min-width: 736px) and (max-width: 1024px)';
$tablet-portrait: 'only screen and (min-device-width: 736px) and (max-device-width: 1024px) and (orientation: portrait)';
$wide: 'only screen and (min-width: 1480px) and (max-width: 1920px)';
$wideHD: 'only screen and (min-width: 1921px)';
$laptopPC: 'only screen and (width: 1366px)';


body {
    font-family: $base-font;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-weight: 400;
}
.height-helper {
    min-height: 100vh - 6vh;
}
.container {
    max-width: 1320px;
    width: 95%;
    margin: 0 auto;
}



.title {
    font-family: $base-font;
    font-size: 40px;
    line-height: 1;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    color: #1F2935;
    &_underline {
        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 6px;
            background: #d8dcdf;
            position: absolute;
            bottom: -23px;
            border-radius: 10px;
        }
    }
    .light {
        font-weight: 100;
    }
}


.subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #565a5f;
    b { font-weight: 600; }
}

.color_accent {
    color: $accent-color;
}




.slick-dots {
    li {
        margin: 0 7px;
        button {
            &:before {
                font-size: 13px;
            }
        }
        &.slick-active {
            button:before {
                color: $accent-color;
            }
        }
    }
}




@media #{$mobile} {
    .height-helper {
        min-height: auto;
    }
    .container {
        width: 100%;
        padding: 0 20px;
    }
    .title {
        font-size: 30px;
    }
    .subtitle {
        font-size: 14px;
    }
}
@media #{$tablet} {
    .container {
        width: 95%;
    }
}
@media #{$wide} {
    .title {
        font-size: 58px;
    }
    .subtitle {
        font-size: 18px;
    }
    .container {
        width: 85%;
        max-width: none;
    }
}
@media #{$wideHD} {
    .container {
        width: 85%;
        max-width: none;
    }
    .title {
        font-size: 72px;
        &_underline:after {
            height: 9px;
            bottom: -29px;
        }
    }
    .subtitle {
        font-size: 26px;
        font-weight: 200;
    }
}


@import "blocks/logo";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/lpc-form";
@import "blocks/buttons";
@import "blocks/inputs";



// --------- Screens ----------


@import "sections/home";
@import "sections/cases";
@import "sections/bullets";
@import "sections/tarifs";
@import "sections/custom-order";

@import "blocks/popup";
@import "blocks/modal_case";