
.modal_case
    .modal_case__container
        img(src="img/cases/case_1.jpg")
    .modal_case__values
        .modal_case__measure
            .measure_name  Конверсия
            .measure_value  40%

        .modal_case__measure
            .measure_name  Цена заявки
            .measure_value  900р

        .modal_case__measure
            .measure_name  Срок <br>окупаемости
            .measure_value  15 д