+b.FORM.lpc-form(action="php/submit.php" method="POST" class="validate-form")
    .input-wrapper
        input.lpc-input(type="tel" name="phone" placeholder="Введите номер телефона" value!="")

    BUTTON.btn(type='submit') Получить Landing Page
    .clearfix
    +e.small-text * Это бесплатно и ни к чему вас не обязывает

    +b.lpc-policy
        +e.LABEL.row
            +e.INPUT.checkbox.lpc-checkbox(type="checkbox" checked  name="personalAgreement")
            +e.text
                | Нажимая на кнопку, я даю свое согласие на
                |
                a(href="docs/pers-data.pdf" target="_blank") обработку персональных данных
                |  и соглашаюсь с условиями
                |
                a(href="docs/conf-policy.pdf" target="_blank") политики конфиденциальности

        +e.LABEL.row
            +e.INPUT.checkbox.lpc-checkbox(type="checkbox" checked name="")
            +e.text
                | Я согласен на получение
                |
                +e.A(href="").detail информации от данного сайта
        +e.hidden
            +e.LABEL.row
                +e.INPUT.checkbox.lpc-checkbox(type="checkbox" checked)
                +e.text Я хочу получать SMS-сообщения о мероприятиях и/или иных услугах
            +e.LABEL.row
                +e.INPUT.checkbox.lpc-checkbox(type="checkbox" checked)
                +e.text Я хочу получать email-письма о мероприятиях и/или иных услугах
            +e.LABEL.row
                +e.INPUT.checkbox.lpc-checkbox(type="checkbox" checked)
                +e.text Я хочу получать звонки о мероприятиях и/или иных услугах